:root {
  --primary: #8b2e2e;
  --light: #fff9f6;
  --marmo: #f8f8f8;
  --accent: #e0c7b3;
  --bordeaux: #7b2d26;
  --grigio: #555;
  --nero: #1c1c1c;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: var(--nero);
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Header/Navbar */
.header {
  background: var(--marmo);
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--bordeaux);
}

.nav a {
  margin-left: 50px;
  text-decoration: none;
  color: var(--nero);
  font-weight: 600;
}

.nav a:hover {
  color: var(--bordeaux);
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Hero */
.hero {
  color: white;
  background-color: var(--nero);
  height: 650px;
/*
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 3rem;
  margin-bottom: 5px;
}

.btn-telefono {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: var(--bordeaux);
  color: white;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.btn-telefono:hover {
  background-color: var(--primary);
}

.orari {
  border: 2px solid var(--bordeaux);
  padding: 30px;
  max-width: 500px;
  margin: 60px auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.orari h2 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--bordeaux);
  margin-bottom: 20px;
}

.orari-lista{
  list-style: none;
  text-align: center;
}

/* Sezioni */
section {
  padding: 60px 20px;
  text-align: center;
  scroll-margin-top: 80px;
}

.mappa iframe {
  max-width: 100%;
  border: none;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: var(var(--marmo));
}

.contatti{
  background-image: url('../img/marmo2.jpg');
}

/* Responsive hamburger */
@media (max-width: 480px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    background: white;
    top: 100%;
    left: 0;
    padding: 20px 0;
    text-align: center;
  }

  .nav.aperto {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .hero {
    /*padding: 60px 15px; /* meno spazio verticale */
    height: 300px;
    padding: 0 15px;
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .btn-telefono {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
